In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem

In [42]:
bars_metadata = "bars_data_output.csv"

In [43]:
bars_metadata = pd.read_csv(bars_metadata)
bars_metadata

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,latitude,longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,display_address
0,oT08T3Vpn1I7jDmrBBRMTw,house-of-prime-rib-san-francisco,House of Prime Rib,https://s3-media4.fl.yelpcdn.com/bphoto/HLrjaM...,False,https://www.yelp.com/biz/house-of-prime-rib-sa...,7211,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,[],...,37.793380,-122.422500,1906 Van Ness Ave,NaN,NaN,San Francisco,94109.0,US,CA,"['1906 Van Ness Ave', 'San Francisco, CA 94109']"
1,f-m7-hyFzkf0HSEeQ2s-9A,fog-harbor-fish-house-san-francisco-2,Fog Harbor Fish House,https://s3-media1.fl.yelpcdn.com/bphoto/5wuA-0...,False,https://www.yelp.com/biz/fog-harbor-fish-house...,6088,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,['restaurant_reservation'],...,37.809041,-122.410233,The Embarcadero,Ste A-202,NaN,San Francisco,94133.0,US,CA,"['The Embarcadero', 'Ste A-202', 'San Francisc..."
2,ttarnopezxmp2ROB1N2PaA,nopa-san-francisco,Nopa,https://s3-media3.fl.yelpcdn.com/bphoto/16cGmQ...,False,https://www.yelp.com/biz/nopa-san-francisco?ad...,5078,"[{'alias': 'newamerican', 'title': 'American (...",4.0,['delivery'],...,37.774830,-122.437460,560 Divisadero St,None,NaN,San Francisco,94117.0,US,CA,"['560 Divisadero St', 'San Francisco, CA 94117']"
3,KkAVX3Wb7E3lP5F_f_8pXg,liholiho-yacht-club-san-francisco-2,Liholiho Yacht Club,https://s3-media2.fl.yelpcdn.com/bphoto/dHWRdc...,False,https://www.yelp.com/biz/liholiho-yacht-club-s...,2423,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.5,['delivery'],...,37.788180,-122.414580,871 Sutter St,NaN,NaN,San Francisco,94109.0,US,CA,"['871 Sutter St', 'San Francisco, CA 94109']"
4,mSMZJj2pFvttWLpcDmgrEA,tonys-pizza-napoletana-san-francisco,Tony's Pizza Napoletana,https://s3-media1.fl.yelpcdn.com/bphoto/6jgpZM...,False,https://www.yelp.com/biz/tonys-pizza-napoletan...,5089,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,['delivery'],...,37.800332,-122.409054,1570 Stockton St,NaN,NaN,San Francisco,94133.0,US,CA,"['1570 Stockton St', 'San Francisco, CA 94133']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,n-EK1TJZhfQYJ1gc-72iJw,beachers-san-francisco-6,Beachers,NaN,False,https://www.yelp.com/biz/beachers-san-francisc...,1,"[{'alias': 'bars', 'title': 'Bars'}]",5.0,[],...,NaN,NaN,NaN,NaN,NaN,San Francisco,NaN,US,CA,"['San Francisco, CA']"
996,obbj78gbuT-mSwe5i5G8ng,san-francisco-new-years-eve-san-francisco,San Francisco New Years Eve,https://s3-media2.fl.yelpcdn.com/bphoto/aIAF5V...,False,https://www.yelp.com/biz/san-francisco-new-yea...,1,"[{'alias': 'pubs', 'title': 'Pubs'}]",5.0,[],...,37.797760,-122.431910,1980 Union St,NaN,NaN,San Francisco,94123.0,US,CA,"['1980 Union St', 'San Francisco, CA 94123']"
997,yQ7xPB632J5a9NYtDKDl7g,jp-morgan-club-san-francisco,JP Morgan Club,NaN,False,https://www.yelp.com/biz/jp-morgan-club-san-fr...,1,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",5.0,[],...,37.767920,-122.387390,1 Warriors Way,NaN,None,San Francisco,94158.0,US,CA,"['1 Warriors Way', 'San Francisco, CA 94158']"
998,GvLEvVvNAN7v1ePyoFFKnA,bar-217-san-francisco,Bar 217,https://s3-media3.fl.yelpcdn.com/bphoto/yeBwkF...,False,https://www.yelp.com/biz/bar-217-san-francisco...,1,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",5.0,[],...,37.797195,-122.406120,217 Columbus St,None,NaN,San Francisco,94133.0,US,CA,"['217 Columbus St', 'San Francisco, CA 94133']"
999,aUeBNa2W1GXjAeXmSM4nHw,bristol-bar-and-grill-san-francisco,Bristol Bar & Grill,https://s3-media4.fl.yelpcdn.com/bphoto/yKVbij...,False,https://www.yelp.com/biz/bristol-bar-and-grill...,12,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2.0,[],...,37.806435,-122.418068,1300 Columbus Ave,NaN,NaN,San Francisco,94133.0,US,CA,"['1300 Columbus Ave', 'San Francisco, CA 94133']"

In [44]:
bars_metadata.columns

Index(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count',
       'categories', 'rating', 'transactions', 'price', 'phone',
       'display_phone', 'distance', 'latitude', 'longitude',
       'location.address1', 'location.address2', 'location.address3',
       'location.city', 'location.zip_code', 'location.country',
       'location.state', 'display_address'],
      dtype='object')

In [45]:
rating_count = bars_metadata['rating'].value_counts()

In [46]:
review_count

1000

In [47]:
list(bars_metadata.columns)
new_columns = [
    'name',
    'review_count',
    'categories',
    'rating',
]

In [48]:
categories_data = bars_metadata[new_columns]

In [49]:
categories_data

,name,review_count,categories,rating
0,House of Prime Rib,7211,"[{'alias': 'tradamerican', 'title': 'American ...",4.0
1,Fog Harbor Fish House,6088,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0
2,Nopa,5078,"[{'alias': 'newamerican', 'title': 'American (...",4.0
3,Liholiho Yacht Club,2423,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.5
4,Tony's Pizza Napoletana,5089,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0
...,...,...,...,...
995,Beachers,1,"[{'alias': 'bars', 'title': 'Bars'}]",5.0
996,San Francisco New Years Eve,1,"[{'alias': 'pubs', 'title': 'Pubs'}]",5.0
997,JP Morgan Club,1,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",5.0
998,Bar 217,1,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",5.0
999,Bristol Bar & Grill,12,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2.0

In [52]:
categories_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
name            1000 non-null object
review_count    1000 non-null int64
categories      1000 non-null object
rating          1000 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 31.4+ KB

In [53]:
categories_data_explode = categories_data.assign(categories = categories_data.categories
                         .str.split(', ')).explode('categories')

In [54]:
categories_data_explode

,name,review_count,categories,rating
0,House of Prime Rib,7211,[{'alias': 'tradamerican',4.0
0,House of Prime Rib,7211,'title': 'American (Traditional)'},4.0
0,House of Prime Rib,7211,{'alias': 'steak',4.0
0,House of Prime Rib,7211,'title': 'Steakhouses'},4.0
0,House of Prime Rib,7211,{'alias': 'wine_bars',4.0
...,...,...,...,...
998,Bar 217,1,'title': 'Cocktail Bars'}],5.0
999,Bristol Bar & Grill,12,[{'alias': 'bars',2.0
999,Bristol Bar & Grill,12,'title': 'Bars'},2.0
999,Bristol Bar & Grill,12,{'alias': 'newamerican',2.0
999,Bristol Bar & Grill,12,'title': 'American (New)'}],2.0

In [64]:
categories_count = categories_data_explode['categories'].value_counts()

In [55]:
categories_data_explode.categories.value_counts()

{'alias': 'cocktailbars'      157
'title': 'Cocktail Bars'}]    139
'title': 'Bars'}]             131
[{'alias': 'bars'             130
{'alias': 'bars'              115
                             ...
'title': 'Irish Pub'}           1
'title': 'Salad'}]              1
'title': 'Hawaiian'}]           1
[{'alias': 'tobaccoshops'       1
'title': 'Sports Clubs'}        1
Name: categories, Length: 430, dtype: int64

In [65]:
bars_type = categories_data_explode[categories_data_explode.categories.str.contains('title',
                      case=True,na=False)].categories.value_counts()

In [68]:
bars_type

'title': 'Cocktail Bars'}]    139
'title': 'Bars'}]             131
'title': 'Bars'}              114
'title': 'American (New)'}    107
'title': 'Cocktail Bars'}      98
                             ...
'title': 'Hawaiian'}]           1
'title': 'Live/Raw Food'}]      1
'title': 'German'}]             1
'title': 'Noodles'}             1
'title': 'Cigar Bars'}]         1
Name: categories, Length: 217, dtype: int64

In [69]:
print('Total number of categories:', len(categories_data_explode[categories_data_explode.categories.str.contains('title',
                      case=True,na=False)].categories.value_counts()))
print('Top 10 categories:')
categories_data_explode[categories_data_explode.categories.str.contains('title',
                      case=True,na=False)].categories.value_counts()[:10]

Total number of categories: 430
Top 10 categories:

'title': 'Cocktail Bars'}]    139
'title': 'Bars'}]             131
'title': 'Bars'}              114
'title': 'American (New)'}    107
'title': 'Cocktail Bars'}      98
'title': 'Wine Bars'}]         78
'title': 'Wine Bars'}          76
'title': 'Lounges'}            73
'title': 'Sports Bars'}        64
'title': 'Lounges'}]           64
Name: categories, dtype: int64

In [61]:
bars_json_path = 'bars_data_output.json'
df_b = pd.read_json(bars_json_path)